In [11]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: async-generator>=1.9 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\user\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [12]:
import warnings
warnings.filterwarnings('ignore')

In [13]:
#lets now import all the requried libraries
import selenium
import pandas as pd
from selenium import webdriver

In [14]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")

In [15]:
# driver.close()

In [16]:
driver.get('https://www.naukri.com/')

In [17]:
# finding element for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
# job search bar

In [18]:
search_job.send_keys("Data Analyst")

In [19]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
#location search bar

In [20]:
#specifing the url of the webpage to be scraped
url="https://www.naukri.com/data-analytics-jobs-in-bangalore-bengaluru?k=data%20analytics&l=bangalore%2Fbengaluru"

In [21]:
# lets open the webpage through our web driver
driver.get(url)

Now we will see in the window opened by webdriver whether the webpage has opened or not. lets check it

So,Now lets first create 10 empty lists. In these lists the data will be stored while scraping. We have created 10 empty lists for 4 features we have to extract

1.job_titles2.company_names3.locations_list4.experience_list

In [22]:
job_titles=[]
company_names=[]
locations=[]
experience_list=[]

First,we will extract all the tags where we have the jobs titles.Let me first show you on the webpae in which tags the job titles are put.

In [23]:
# so Lets extract all the tags having the jobs-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="c30ea6bb-f64f-469f-aeac-3972bfecb1c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="10433c6d-0b7a-4c5b-9cdf-9a9b71c5b649")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="6d7b0926-c7c2-45f6-8147-86e9dc0d8e46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="235c98b1-a722-4775-ab6d-473aa38da511")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="8a95b47e-9a9e-4b81-8dfa-901267d0a66b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="7046f061-72da-430c-ad0c-b1cf3a7e0f8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="34b7d8d7-80e2-463c-857a-7f59d56c64dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="cfafc7cd-d27d-4767-b424-e8a4e16babe9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="2b177f66-4489-4b41-b559-baec36a53509")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="ef3e1117-6a9e-453e-8d39-6f71c897c744")>]

Now we have all the tags in which there are the job titles.

Now we will extract the text from these tags one by one by looping over these tags

In [24]:
# Now the text of the job title is inside the tags extracted above.
# So we will run a loop to iterate over the tags extracted above and extract the tags

for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Analyst - Flipkart Analytics',
 'Data Analytics and Interpretation Application Developer',
 'Manager - Data Analytics',
 'Data Analytics Manager - Machine Learning Algorithms',
 'Data Analytics - Pharma',
 'Manager - Data Analytics',
 'Big Data Developer - Data Analytics',
 'Urgent requirement For Data analytics.',
 'S&PP COE Analytics - Data Engineering',
 'ACN - Digital - Analytics - Big Data - 10']

Now we will extract all the html tags where we have the company names. Lets me first show you in which tags the company names are put on the webpage.

In [25]:
# so lets extract all the tags having the company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="da644a94-1ada-4f31-9f7b-24dbba835372")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="a04073ba-e240-49d7-a074-c07ba4331fa1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="d1d5740d-387d-4f71-8fd3-54a24d1c64ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="935af4dc-0781-4d3a-9061-7bc8c7cf2647")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="bfef4629-1c12-49d4-aed6-29efd7551041")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="35bd5377-92ac-421e-a0fa-8644ac4efd40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="c3d9adf0-82aa-4367-bb60-129f382c646a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="be03a9e5-7a70-45e2-9bd7-6463a9b56a9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="0a5957e5-5b63-445a-b454-cc38471f8f2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="d6693f72-ce19-458f-b423-f09b2644ec2a")>]

Now we have all the tags in which there are the company names.

Now we will extract the text from these tags one by one by looping over these tags

In [26]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Flipkart',
 'Accenture',
 '2coms consulting',
 'Okda Solutions',
 'Recruise India Consulting Pvt. Ltd.',
 'LatentView Analytics Private Limited',
 'thinkAPPS Solutions Pvt Ltd',
 'PPN Solutions Pvt Ltd.',
 'Accenture',
 'Accenture']

Now we will extract all the html tags where we have the experience requried data. Let me first show you in which tags this data is put on the webpage.

In [27]:
# so lets extract all the tags having the experience requried data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="ac766ab5-cd3d-42e6-805e-09ee90392623")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="d48e805b-c80a-470a-8648-9bcc318d5fd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="e523a092-b855-42ca-9744-36f0e0c4b869")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="de39b753-57de-4039-bec3-46b16c88bbd1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="82530caa-ddbd-4622-afb6-c9c3f4a6efd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="29bcdc30-d3b5-4764-9b45-be89cdf1b21a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="7064038c-c4d0-4868-b8ba-14992e9e9fa1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="a39644da-22fa-4944-9121-1bea781d624e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="3b115ed2-88a2-4b12-b9ad-65051de38860")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="0ac6bf3b-fe8c-4d50-949d-7ce65d4841b4")>]

Now we have all the tags in there is the experience requried data.

Now we will extract the text from these tags one by one by looping over these tags

In [28]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['0-3 Yrs', '4-6 Yrs', '', '', '', '', '', '', '', '']

Now we will extract all the html tags where we have the location of the job data. Let me first show you in which tags this data is put on yhe webpage.

In [29]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="346da8fb-2d3f-426a-8d0c-4c4730f85783")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="108a7396-2205-44a1-aa92-073d61594a93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="bf8db0bd-0906-49a2-9b63-3a20e34957eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="3d2b481a-3de5-449f-a7bc-62a2529b25e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="ec9d3fa9-6bd1-4186-8bf6-43bec5e7aa70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="bb823a27-83ad-4167-9b50-37d792d82bb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="db9a4aa7-8987-41b1-b01a-c2666b831ff3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="2a04aec4-d912-4ada-bd44-c7123cb98861")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="aefd2f61-8da5-4916-abb1-55aab0f8d2f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f36c1e6381641da377a662f2012192d", element="3e6e80d2-5d5e-4ca7-a1d6-9ca2425a325f")>]

Now we have all the tags in which there is the data about the location of job.

Now we will extract the text(location) from these tags one by one by looping over these tags

In [30]:
for i in locations_tags :
    location=i.text
    locations.append(location)
locations[0:10]

['Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

So,now we have extracted the data requried from the webpage and stored them in the 4 lists mentioned above. Now before creating a dataframe from these lists. Lets first check the length of each of the list. Because if the length of all of the lists are not equal, then a dataframe cannot be formed.

In [31]:
print(len(job_titles),len(company_names),len(experience_list),len(locations))

20 20 20 20

In [32]:
#import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_names[0:10]
jobs['experience_requried']=experience_list[0:10]
jobs['location']=locations[0:10]

In [33]:
jobs

,title,company,experience_requried,location
0,Data Analyst - Flipkart Analytics,Flipkart,0-3 Yrs,Bangalore/Bengaluru(Bellandur)
1,Data Analytics and Interpretation Application ...,Accenture,4-6 Yrs,Bangalore/Bengaluru
2,Manager - Data Analytics,2coms consulting,,
3,Data Analytics Manager - Machine Learning Algo...,Okda Solutions,,
4,Data Analytics - Pharma,Recruise India Consulting Pvt. Ltd.,,
5,Manager - Data Analytics,LatentView Analytics Private Limited,,
6,Big Data Developer - Data Analytics,thinkAPPS Solutions Pvt Ltd,,
7,Urgent requirement For Data analytics.,PPN Solutions Pvt Ltd.,,
8,S&PP COE Analytics - Data Engineering,Accenture,,
9,ACN - Digital - Analytics - Big Data - 10,Accenture,,

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data

In [34]:
#lets now import all the requried libraries
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

In [35]:
# Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")

In [36]:
# driver.close()

In [37]:
driver.get('https://www.naukri.com/')

In [38]:
# finding element for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
# job search bar

In [39]:
search_job.send_keys("Data Scientist")
#location search bar

In [40]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [41]:
#specifing the url of the webpage to be scraped
url="https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru?k=data%20scientist&l=bangalore%2Fbengaluru"

In [42]:
# lets open the webpage through our web driver
driver.get(url)

Now we will see in the window opened by webdriver whether the webpage has opened or not. lets check it

So,Now lets first create 10 empty lists. In these lists the data will be stored while scraping.We have created 10 empty lists for 4 features which we have to exract

1.job_titles2.company_names3.locations_list4.experience_list

In [43]:
job_titles=[]
company_names=[]
locations=[]
experience_list=[]

First, we will extract all the tags where we have the jobs titles.Let me first show you on the webpage in which tags the job titles are put.

In [44]:
# so Lets extract all the tags having the jobs-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="d30b507d-2334-4d46-8b72-831b1cfba19d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="9f04e8a0-4eda-4d2a-8cce-e80e2601eef5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="01e41919-1021-467a-a9d4-1644c6726130")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="2374c198-d546-40d6-83a1-d25192f2fa35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="8031270a-bbae-4037-aaf3-8c49b60ceec4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="8a3babec-9b8f-4940-ab71-11980996934d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="8e211e20-6147-41b9-b636-d94c5eb910cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="2f5d98da-ba3c-41d4-abaf-8c6e52c458ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="ba39d971-77ca-4aee-94a2-1183a61925ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="19b5ab7f-25ca-4cb7-aeb9-b5da1bb455c9")>]

Now we have all the tags in which there are the job titles.

Now we will extract the text from these tags one by one by looping over these tags

In [46]:
# Now the text of the job title is inside the tags extracted above.
# so we will run a loop to iterate over the tags extracted above and extract the tags

for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Senior Data Scientist',
 'Data Scientist /Senior Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist / Tech Lead - SQL / Python / Big Data',
 'Senior / Lead Data Scientist',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Data Scientist, Agribusiness Intelligence',
 'Data Scientist']

Now we will extract all the html tags where we have the company names.Let me first show you in which tags the company names are put on the webpage.

In [47]:
# so lets extract all the tags having the company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="807da7ef-c387-4213-9921-48c224b18948")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="78f5f3ee-a33f-49cf-b727-2ceb51bc0d39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="0d924c26-96e0-414b-9239-7079debfef8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="2cb06a34-ae1f-4bd1-b486-48a28ec1a676")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="fa6d8562-e547-40cf-a3db-b3f5843ec6cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="4566516e-bb56-4eb9-9b03-55e89241b258")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="67c9c8a1-c759-4912-b69b-40e27dbefc3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="b1eb1d48-3736-4cac-9cc4-9e3355cca41c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="0ce2b77b-6e78-4b8e-8d86-3677ba79c43e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="3bcf27aa-8426-486d-9250-d45db06102a5")>]

Now we have all the tags in which there are the company names.

Now we will extract the text from these tags one by one by looping over these tags

In [48]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Kwalee India Pvt Ltd.',
 'Dun & Bradstreet',
 'Visa',
 'Team4Progress',
 'TransOrg Solutions Services (P) Ltd.',
 'Exploro Solutions',
 'CoreEdge Solutions',
 'Concentrix Daksh Services',
 'IHS Markit',
 'Kwalee India Pvt Ltd.']

Now we will extract all the html tags where we have the experience requried data. Let me first show you in which tags this data is put on the webpage.

In [49]:
# so Lets extract all the tags having the experience requried data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="75096e28-1a17-4378-8d48-1d79d293d4ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="9b915bb3-b413-4f8b-88b1-ac7511fdad4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="742e6687-53d3-4c74-b5d6-dec9d10a6991")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="e76b2b6d-1435-42f6-9b41-dec976fac4d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="afa5f7b0-d091-4c5c-b037-7057142134bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="35f18fcb-c2bc-4859-b39d-bfb1047b30d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="3831b9d1-ce6d-41fc-a05c-c5a8532d5124")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="2015f511-2630-4a86-b477-a97b7ba1fb4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="2bce2c33-21a7-4812-9cee-906c9aefe221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="0e6a0952-d3d3-4b7d-920b-a55c11c79827")>]

Now we have all the tags in there is the experience requried data.

Now we will extract the text from these tags one by one by looping over these tags

In [50]:
for i in experience_tags :
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['5-10 Yrs',
 '1-5 Yrs',
 '4-9 Yrs',
 '5-8 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '2-7 Yrs']

Now we will extract all the html tags where we have the location of the job data. Let me first show you in which tags this data is put on the webpage.

In [51]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="b340c557-a996-4c4c-acb5-71d5cf63dc82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="0bcffff6-f2aa-4b66-be61-5c844a1fbd06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="ed3bec97-dd2f-45a6-8030-c9745da6a914")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="35f3b519-3212-406d-95c1-305a15f3c8e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="20f053e1-28d0-4242-921b-cc23211a71f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="9bc8b5e5-d5da-48ef-a303-984fde660299")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="40849326-3ee0-48f1-9484-9c52c6e8777e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="5d74aa0a-81ac-458a-8e2a-d11df6b5c8a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="b47a1c1d-cc5a-4c7d-bd74-a106ff81efbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a7579a17b6ec22a243bd86a77ad315cb", element="21f5d87b-2e9c-408c-8f40-0547317f95e7")>]

Now we have all the tags in which there is the data about the location of job.

Now we will extract the text(location) from these tags one by one by looping over these tags

In [52]:
for i in locations_tags :
    location=i.text
    locations.append(location)
locations[0:10]

['Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

So,now we have extracted the data requried from the webpage and stored them in the 4 lists mentioned above. Now before creating a dataframe from these lists. Lets first check the length of each of the list. Because if the length of all of the lists are not equal, then a dataframe cannot be formed.

In [54]:
print(len(job_titles),len(company_names),len(experience_list),len(locations))

40 20 20 20

In [55]:
#import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_names[0:10]
jobs['experience_requried']=experience_list[0:10]
jobs['location']=locations[0:10]

In [56]:
jobs

,title,company,experience_requried,location
0,Senior Data Scientist,Kwalee India Pvt Ltd.,5-10 Yrs,Bangalore/Bengaluru
1,Data Scientist /Senior Data Scientist,Dun & Bradstreet,1-5 Yrs,"Chennai, Bangalore/Bengaluru"
2,Data Scientist,Visa,4-9 Yrs,Bangalore/Bengaluru
3,Lead Data Scientist,Team4Progress,5-8 Yrs,"Mumbai, Pune, Bangalore/Bengaluru"
4,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,4-9 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
5,Senior Data Scientist / Tech Lead - SQL / Pyth...,Exploro Solutions,5-10 Yrs,"Pune, Chennai, Bangalore/Bengaluru"
6,Senior / Lead Data Scientist,CoreEdge Solutions,3-8 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
7,Forecasting Analyst/ Data Scientist (US Client),Concentrix Daksh Services,3-8 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
8,"Data Scientist, Agribusiness Intelligence",IHS Markit,3-6 Yrs,Bangalore/Bengaluru
9,Data Scientist,Kwalee India Pvt Ltd.,2-7 Yrs,Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs 
The task will be done as shown in the below steps: 
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
3. Then click the search button. 
4. Then apply the location filter and salary filter by checking the respective boxes 
5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data.

In [57]:
import warnings
warnings.filterwarnings('ignore')

In [58]:
#lets now import all the requried libraries
import selenium
import pandas as pd
from selenium import webdriver

In [59]:
# Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")

In [60]:
# driver.close()

In [61]:
driver.get('https://www.naukri.com/')

In [62]:
# finding element for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')

In [63]:
search_job.send_keys("Data Scientist")

In [64]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [65]:
#specifing the url of the webpage to be scraped
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&ctcFilter=3to6&cityTypeGid=9508"

In [66]:
# lets open the webpage through our web driver
driver.get(url)

Now we will see in the window opened by webdriver the webpage has opened or not.lets check it

So, Now lets first create 10 empty lists.In these lists the data will be stored while scraping.We have created 10 empty lists for 4 features which we have to extract

1.job_titles2.company_names3.locations_list4.experience_list

In [67]:
job_titles=[]
company_names=[]
locations=[]
experience_list=[]

First,we will extract all the tags where we have the jobs titles.Let me first show you on the webpage in which tags the job titles are put.

In [68]:
# so Lets extract all the tags having the jobs-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="8ed726d1-67e6-4613-9e93-3d81bdb9ae99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="9830c7c9-927f-4606-a173-41ac34b18c2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="af7a0349-b123-4871-875e-88199c8a1007")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="29ea2730-63b8-4dd5-a5b2-6da792850cab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="2a4ae7c6-d3e4-4a4e-b5a9-f3ab87dbea5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="eff3ffb6-e204-40d2-9f52-2a373ad943f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="4aff2d56-3a39-471b-b5a8-92d358fba3cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="bcfc9700-56f1-4956-a4ae-8d312b17ec7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="baff6cd3-54a7-476c-bec7-4bcba05424b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="646f241c-5111-40f8-8f69-89548c4632b6")>]

Now we have all the tags in which there are the job titles.

Now we will extract the text from these tags one by one by looping over these tags

In [69]:
# Now the text of the job title is inside the tags extracted above.
# so we will run a loop to iterate over the tags extracted above and extract the tags

for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Scientist',
 'Data Scientist',
 'Data Scientist III-2',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist',
 'Urgent Hiring || Data Scientist || Delhi',
 'Data Scientist',
 'Immediate requirement For Data Scientist',
 'Data Scientist Internship']

Now we will extract all the html tags where we have the company names.Let me first show you in which tags the company names are put on the webpage.

In [70]:
# so lets extract all the tags having the company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="a776b332-b9a4-4f11-bc3d-8be57ad1d467")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="9594e717-5da8-497a-ace8-6d9294895419")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="5b65e7fe-e783-4226-b163-0c9a2197eac7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="3db9f476-0cd9-47c6-af09-9925df4061f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="9d80b920-35a0-4f13-ab24-ecf971a33068")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="10bf4f98-c683-464e-91e4-93e40fe98a5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="5d70f854-9829-4e5c-97d6-37834b658196")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="0335c916-10f8-4d5e-acd0-50a22196f2df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="ec6218dc-b478-41fa-9a26-22164fe8cdf9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="36c1c030-3b65-4afa-ae0f-ff26e7f85fc3")>]

Now we have all the tags in which there are the company names.

Now we will extract the text from these tags one by one looping over these tags

In [71]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Think i',
 'ThinkBumblebee Analytics Pvt. Ltd.',
 'Concentrix Daksh Services',
 'HCL Technologies',
 'MoMagic Technologies Pvt. Ltd.',
 'MoMagic Technologies Pvt. Ltd.',
 'Shriram Automall India Limited',
 'SVK Global Solutions Private Limited',
 'CALIBEHR BUSINESS SUPPORT SERVICES PRIVATE LIMITED',
 'iHackers Inc']

Now we will extract all the html tags where we have the experience requried data.Let me first show you in which tags this data is put on the webpage.

In [72]:
# so Lets extract all the tags having the experience requried data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="659e401a-7550-4bcf-83b6-861d8cc5a61e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="9d6ba3ed-a03d-4545-a11b-048ca7366d08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="b05ab1dd-182f-4333-8974-5c76b63a8f0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="a48197f6-23ed-4bbc-b47d-ab262d244a49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="12475402-2371-4d7c-879d-d9280d8829f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="161ad773-862b-40b5-a4e2-4eb9f3aba7cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="78683edb-9b5c-4238-baab-01bff5568965")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="9dd1701c-5a1a-4273-80e1-283ee8edf14b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="289d48b3-3c95-45fb-b5af-8115a1a3c76a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="07900578-d29f-4409-afd7-01b36f28c802")>]

Now we have all the tags in there is the experience requried data.

Now we will extract the text from these tags one by one by looping over these tags

In [73]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['0-2 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '4-7 Yrs',
 '4-6 Yrs',
 '4-6 Yrs',
 '2-7 Yrs',
 '6-10 Yrs',
 '2-7 Yrs',
 '0-1 Yrs']

Now we will extract all the html tags where we have the location of the job data.Let me first show you in which tags this data is put on the webpage.

In [74]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="9bea782f-6884-4341-85d7-e02e4dfa0447")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="9044eec6-7f73-4003-bf1d-cdc2df85dcd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="11ce9758-6009-47a4-bb47-f9ac7c0a8eda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="87826bfe-4f8b-44b3-99db-e7c618b3af0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="f800d811-51f0-4420-b720-660e5c7ae8b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="c6c5b860-0815-4e62-b12e-e60550b5a93c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="20c70128-f1de-46fa-9d2b-a530c192e2e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="481aad1d-caed-4912-9f33-aa46645cc025")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="663fc890-3ccb-40d5-ad70-df9ef17a1ccd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4157072eec278811a25531319a60bce", element="a777b1fd-cbdb-4b6b-90c8-865c9ab6375c")>]

Now we have all the tags in which there is the data about the location of job.

Now we will extract the text(location) from these tags one by one by looping over these tags

In [75]:
for i in locations_tags:
    location=i.text
    locations.append(location)
locations[0:10]

['Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Delhi / NCR',
 'Noida(Sector-126 Noida)',
 'Noida(Sector-126 Noida)',
 'Delhi / NCR',
 'Noida',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Tamia, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi']

So,now we have extracted the data requried from the webpage and stored them in the 4 lists mentioned above.Now before creating a dataframe from these lists.Lets first check the length of each of the list. Because if the length of all of the lists are not equal, then a dataframe cannot be formed.

In [76]:
print(len(job_titles),len(company_names),len(experience_list),len(locations))

20 20 20 20

In [77]:
#import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_names[0:10]
jobs['experience_requried']=experience_list[0:10]
jobs['location']=locations[0:10]

In [78]:
jobs

,title,company,experience_requried,location
0,Data Scientist,Think i,0-2 Yrs,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,..."
1,Data Scientist,ThinkBumblebee Analytics Pvt. Ltd.,2-6 Yrs,"Pune, Bangalore/Bengaluru, Delhi / NCR"
2,Data Scientist III-2,Concentrix Daksh Services,3-8 Yrs,Gurgaon/Gurugram
3,Job Opportunity || Data Scientist || HCL Techn...,HCL Technologies,4-7 Yrs,Delhi / NCR
4,Data Scientist,MoMagic Technologies Pvt. Ltd.,4-6 Yrs,Noida(Sector-126 Noida)
5,Data Scientist,MoMagic Technologies Pvt. Ltd.,4-6 Yrs,Noida(Sector-126 Noida)
6,Urgent Hiring || Data Scientist || Delhi,Shriram Automall India Limited,2-7 Yrs,Delhi / NCR
7,Data Scientist,SVK Global Solutions Private Limited,6-10 Yrs,Noida
8,Immediate requirement For Data Scientist,CALIBEHR BUSINESS SUPPORT SERVICES PRIVATE LIM...,2-7 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
9,Data Scientist Internship,iHackers Inc,0-1 Yrs,New Delhi

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
1. Brand 
2. Product Description 
3. Price 
The attributes which you have to scrape is ticked marked in the below image.

In [79]:
#lets now import all the requried libraries
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

In [80]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")

In [81]:
# driver.close()

In [82]:
driver.get('https://www.flipkart.com/')

In [83]:
# finding element for product search bar
product = driver.find_element_by_class_name("_3704LK")

In [84]:
product.send_keys("sunglasses")
#location search bar

In [88]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [89]:
#specifing the url of the webpage to be scraped
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

In [90]:
# lets open the webpage through our web driver
driver.get(url)

Now we will see in the window opened by webdriver whether the webpage has opened or not. lets check it

So,Now lets first create 100 empty lists. In these lists the data will be stored while scraping.We have created 100 empty lists for 3 features which we have to exract

1.Brand2.Description3.Price

In [91]:
#creating the empty list
brand=[]
Description=[]
price=[]

In [92]:
#creating the empty list
brand=[]
description=[]
price=[]

start=0
end=4
for page in range(start,end):
#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')
#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)
#appending the text in Brand list
        prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#scraping the price from the xpath
    for i in prices:
        price.append(i.text)
#appending the text in price list
    desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
#scraping description from the xpath
    for i in desc:
        description.append(i.text)
#appending the text in description list
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))
#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [93]:
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100]})

In [94]:
#printing dataframe
df

                Brand                                        Description Price
0            Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹513
1                SRPM             UV Protection Wayfarer Sunglasses (56)  ₹188
2           Elligator                UV Protection Round Sunglasses (54)  ₹248
3              PIRASO              UV Protection Aviator Sunglasses (54)  ₹200
4   SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...  ₹177
..                ...                                                ...   ...
95     ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹399
96             GANSTA  Night Vision, Riding Glasses Wayfarer Sunglass...  ₹198
97          Elligator             UV Protection Wayfarer Sunglasses (53)  ₹319
98     ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)  ₹499
99           elegante          UV Protection Oval Sunglasses (Free Size)  ₹359

[100 rows x 3 columns]

In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\user\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC 
TSVZAXUHGREPBFGI&marketplace. When you will open the above link you will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes. These are: 
1. Rating 
2. Review_summary 
3. Full review 
4. You have to scrape this data for first 100 reviews. 
Note: All the steps required during scraping should be done through code only and not manually. 
Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field. 
You have to scrape 4 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price 
As shown in the below image, you have to scrape the tick marked attributes.

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#lets now import all the requried libraries
import selenium
import pandas as pd
from selenium import webdriver

In [ ]:
# Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
# driver.close()

In [ ]:
driver.get('https://www.flipkart.com/')

In [ ]:
# finding element for product search bar
product = driver.find_element_by_class_name("_3704LK")

In [ ]:
product.send_keys("sneakers")
#location search bar

In [ ]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [ ]:
#specifing the url of the webpage to be scraped
url="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

In [ ]:
# lets open the webpage through our web driver
driver.get(url)

Now we will see in the window opened by webdriver whether the webpage has opened or not. lets check it

So,Now lets first create 100 empty lists. In these lists the data will be stored while scraping.We have created 100 empty lists for 3 features which we have to exract

1.brand2.description3.Price

In [ ]:
#creating the empty list
brand=[]
description=[]
price=[]

start=0
end=4
for page in range(start,end):
    #for loop for scrapping 4 page
    
    brands=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    #scraping title tags by xpath
    for i in brands:
        brand.append(i.text)
        #appending the text in brand
        
        price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        #scraping the price from the xpath
        for i in price_tags:
            price.append(i.text)
            #appending the text in price tags
            
            description=driver.find_elements_by_xpath("//span[@class='B_NuCI']")
            #scraping the description from the xpath
            for i in description:
                description.append(i.text)
                #appending the text in description
                
                nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
                #scraping the list of buttons from the page
                try:
                    driver.get(nxt_button[1].get_attribute('href'))
                 #getting the link from the list for next page 
                except:
                    driver.get(nxt_button[0].get_attribute('href'))

In [ ]:
#creating a dataframe
df=pd.DataFrame({'brand':brand[:100],
                'description':'description'[:100],
                'price':price[:100]})

In [ ]:
#printing dataframe
df